* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: Oswald, sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
    list-style: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: color 0.3s ease;
    z-index: 1000;
    background-color: transparent;
    background-color: #171516;
    background-color: rgba(23, 21, 22, 0);
    color: #ccc;
    padding: 5px 20px;

    
    &.scrolled {
        background-color: #fdfdfd;
    }
}


.navbar .container {
    display: flex;
    justify-content: space-between;
    /* Đẩy logo và nav-links sang hai bên */
    align-items: center;
    height: 54px;
}

.navL-links {
    display: flex;
    align-items: center;
}



.logo img {
    height: 30px;

}


.navbar ul li {
    display: inline;
    text-align: center;
}

.navbar ul li a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    color: var(--header-text-color);
    transition: color 0.3s ease;
    padding: 20px;
}

.navbar.scrolled ul li a {
    color: #171516;
    transition: all 1s ease;
}

.navbar .navL-links li a {
    transition: all 1s ease;
}


.navbar .navL-links li:hover a {
    /* color: var(--header-text-color-hover); */
    background-color: var(--header-background-hover);
    color: #c7a17a;
    border-radius: 10px;
    transition: color 0.3s ease;
}

.navbar.scrolled .navL-links li:hover a {
    background-color: #c7a17a;
    color: #171516;
    transition: color 0.5s ease;
}

/* .navbar ul li i {
   color: #fff;
} */

/* .navbar.scrolled .navbar ul li i {
    color: #171516;
 }
  */
/* .navbar ul li i:hover {
    background-color: var(--header-background-hover);
    transition: all 0.5s ease;
} */

/* .navbar.scrolled .navbar ul li:hover i {
    background-color: #c7a17a;
    transition: all 0.5s ease;
} */