<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="main">
    <div class="navbar" id="navbar" [ngClass]="{'scrolled': isScrolled}">
        <div class="container">
            <div class="logo">
                <img [src]="logoUrl" alt="logo">
            </div>

            <ul class="navL-links">
                <li><a routerLink="/home">home</a></li>
                <li><a routerLink="/home-menu">menu</a></li>
                <li><a routerLink="/home-shop">shop</a></li>
                <li><a routerLink="/home-products">products</a></li>
                <li><a routerLink="/home-review">review</a></li>
                <li><a routerLink="/home-contact">contact</a></li>
                <li><a href="#blogs">blogs</a></li>
                <li style="color:white;">|</li>

                <li><a href=""><i class="fas fa-search" id="btn-search"></i></a></li>
                <li><a href=""><i class="fas fa-shopping-cart" id="btn-shopping-cart"></i></a></li>
                <li><a href=""><i class="fas fa-bars" id="btn-menu"></i></a></li>
                <li (click)="onLogout()"><a href=""><i class="fa-solid fa-right-from-bracket"></i></a></li>
            </ul>

        </div>
    </div>
</div>