<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="main">
    <div class="top">
        <div class="openning-hours footer-content">
            <h3>openning hours</h3>
            <div class="openning-hours-item">
                <h5>Monday</h5>
                <div class="line"></div>
                <h5 class="time-openning">Close</h5>
            </div>
            <div class="openning-hours-item">
                <h5>tuesday</h5>
                <div class="line"></div>
                <h5 class="time-openning">9:00 - 22:00</h5>
            </div>
            <div class="openning-hours-item">
                <h5>Wednesday</h5>
                <div class="line"></div>
                <h5 class="time-openning">9:00 - 22:00</h5>
            </div>
            <div class="openning-hours-item">
                <h5>Thursday</h5>
                <div class="line"></div>
                <h5 class="time-openning">9:00 - 22:00</h5>
            </div>
            <div class="openning-hours-item">
                <h5>Friday*</h5>
                <div class="line"></div>
                <h5 class="time-openning">9:00 - 1:00</h5>
            </div>
            <div class="openning-hours-item">
                <h5>Saturday*</h5>
                <div class="line"></div>
                <h5 class="time-openning">12:00 - 1:00</h5>
            </div>
            <div class="openning-hours-item">
                <h5>Sunday</h5>
                <div class="line"></div>
                <h5 class="time-openning">9:00 - 22:00</h5>
            </div>
        </div>

        <!-- latest-posts -->
        <div class="latest-posts footer-content">
            <a href="">
                <h3>latest posts</h3>
            </a>
            <div class="latest-posts-item">
                <h5>title</h5>
                <p class="date">date0102</p>
            </div>

            <div class="latest-posts-item">
                <h5>title</h5>
                <p class="date">date0102</p>
            </div>

            <div class="latest-posts-item">
                <h5>title</h5>
                <p class="date">date0102</p>
            </div>

            <div class="latest-posts-item">
                <h5>title</h5>
                <p class="date">2212</p>
            </div>
        </div>
        <!-- latest-posts end -->

        <div class="contact footer-content">
            <h3>contact us</h3>
            <div class="contact-item">
                <a class="mail" href="mailto:baristacoffee&#64;gmail.com">baristacoffee&#64;gmail.com</a>
                <p>0987.654.321</p>
                <p>1234 Somewhere Road #5432 Nashville, TN</p>
            </div>


        </div>

        <div class="other-location footer-content">
            <h3>other locations</h3>
            <h5>barista coffee shop</h5>
            <p>
                2606 Saints Alley
                <br>
                Tampa, FL 33602
            </p>
            <div class="line"></div>

            <h5>barista coffee shop</h5>
            <p>
                3497 Watson Street
                <br>
                Camden, NJ 08102
            </p>
        </div>

    </div>

    <div class="bottom">
        <p>© Qode Interactive</p>
        <div class="social-media">
            <a href=""><i class="fa-brands fa-facebook-f" ></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
        <p>2017 All Rights Reserved</p>
    </div>
</div>