<div class="main">
    <!-- <app-admin-navbar></app-admin-navbar> -->

    <div class="container">
        <div class="menu">
            <h2>Menu Items</h2>
            <button class="btn-add btn-list-menu" (click)="showAddForm(addNewItem)">Add Item</button>
            <button class="btn-list-menu" (click)="setId(0)"  >All menu</button>
            <button class="btn-list-menu" (click)="setId(1)" >đồ uống</button>
            <button class="btn-list-menu" (click)="setId(2)" >Khai vị</button>
            <button class="btn-list-menu" (click)="setId(3)" >Món chính</button>
            
            <table class="all-menu">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Availability</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of menuItems">
                        <td>{{ item.name }}</td>
                        <td>
                            {{ item.category_id === '1' ? 'Đồ uống' : (item.category_id === '2' ? 'Khai vị' :
                            (item.category_id === '3' ? 'Món chính' : 'Không xác định')) }}
                        </td>

                        <td>{{ item.price | currency }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ (item.availability == 1) ? 'Available' : 'Out of Stock' }}</td>
                        <td>
                            <button class="btn-edit" (click)="editItem(item)">Edit</button>
                            <button class="btn-delete" (click)="deleteItem(item.item_id)">delete</button>
                        </td>
                        <!-- <td><button (click)="editItem(item)">Edit</button></td> -->

                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Form thêm mới item -->
        <div class="add-item-form" *ngIf="addNewItem">
            <h3>Add New Item</h3>
            <form (ngSubmit)="addItem()">
                <label>
                    Name:
                    <input type="text" [(ngModel)]="newItem.name" name="name" required />
                </label>
                <label>
                    Category ID:
                    <!-- <input type="number" [(ngModel)]="newItem.category_id" name="category_id" required /> -->
                    <select [(ngModel)]="newItem.category_id" name="category_id">
                        <option [value]="1">Đồ uống</option>
                        <option [value]="2">Khai vị</option>
                        <option [value]="3">Món chính</option>
                    </select>
                </label>
                <label>
                    Price:
                    <input type="number" [(ngModel)]="newItem.price" name="price" required />
                </label>
                <label>
                    Description:
                    <input type="text" [(ngModel)]="newItem.description" name="description" />
                </label>
                <label>
                    Availability:
                    <select [(ngModel)]="newItem.availability" name="availability">
                        <option [value]="1">Available</option>
                        <option [value]="0">Out of Stock</option>
                    </select>
                </label>
                <div class="btn">
                    <button type="submit">Add Item</button>
                    <button type="button" class="btn-cancel-add" (click)="hideAddForm()">Cancel</button>
                </div>
            </form>
        </div>
        <!-- Form thêm mới item -->

        <div class="overlay" *ngIf="editItemData"></div>
        <div class="overlay" *ngIf="addNewItem"></div>

        <!-- form update item data -->
        <div *ngIf="editItemData" class="edit-form">
            <h3>Edit Item</h3>
            <form (ngSubmit)="updateItem()">
                <label for="name">Name</label>
                <input id="name" type="text" [(ngModel)]="editItemData.name" name="name" required />

                <label for="price">Price</label>
                <input id="price" type="number" [(ngModel)]="editItemData.price" name="price" required />

                <label for="description">Description</label>
                <textarea id="description" [(ngModel)]="editItemData.description" name="description"></textarea>

                <label for="availability">Availability</label>
                <select id="availability" [(ngModel)]="editItemData.availability" name="availability">
                    <option [value]="1">Available</option>
                    <option [value]="0">Out of Stock</option>
                </select>

                <div class="btn">
                    <button type="submit">Save</button>
                    <button type="button" (click)="editItemData = null" class="btn-cancel-edit">Cancel</button>
                </div>
            </form>
        </div>

        <!-- form update item data -->
    </div>

</div>