<div class="main">
    <div class="logo">
        <img src="/assets/images/coffee-logo-png-white-7525.png" alt="">
        <h3>Administator</h3>
    </div>

    <div class="nav">
        <ul>
            <li><a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a></li>
            <li><a routerLink="/admin/menu" routerLinkActive="active">Menu</a></li>
                <li><a routerLink="/admin/addItemMenu" routerLinkActive="active">Add Item Menu</a></li>
            <li><a routerLink="/admin/orders" routerLinkActive="active">Orders</a></li>
            <li><a routerLink="/admin/users" routerLinkActive="active">Users</a></li>
            <li><a routerLink="/admin/settings" routerLinkActive="active">Settings</a></li>
        </ul>
        <button class="btn-logout"><a href="">Logout</a></button>
    </div>
</div>