*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: Oswald,sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
    list-style: none;

}

.main{
    background-color: black;
}

