<app-header></app-header>
<div class="main">
    <div class="banner">
        <img src="/assets/images/backgroud-img.jpg" alt="">
    </div>

    <div class="container-preview">
        <div class="container-title">
            <p id="sub-title">What Happens Here</p>
            <br>
            <span class="empty-space"></span>
            <div id="title">
                <h2>Preview Barista Coffee</h2>
            </div>
            <span class="empty-space"></span>
            <br>
            <div style="width: 200px; height: 2px; background-color: #c7a17a;"></div>
        </div>

        <div class="preview-info">
            <div class="preview-item">
                <img src="/assets/images/home-1-icon-img-1.png" alt="">
                <h3>Coffeemaker</h3>
                <p>Thiết bị hiện đại, mang đến hương vị tuyệt hảo và trải nghiệm pha chế chuyên nghiệp.</p>
            </div>

            <div class="preview-item">
                <img src="/assets/images/home-1-icon-img-2.png" alt="">
                <h3>Coffee Grinder</h3>
                <p>Thưởng thức cà phê tươi ngon với máy xay chuyên nghiệp, mang đến hương vị đậm đà.</p>
            </div>

            <div class="preview-item">
                <img style="padding-left: 60px;" src="/assets/images/home-1-icon-img-3.png" alt="">
                <h3>Coffee Cups</h3>
                <p>Ly cà phê chất lượng cao, giữ nhiệt tốt, hoàn hảo cho mọi trải nghiệm thưởng thức.</p>
            </div>

            <div class="preview-item">
                <img src="/assets/images/home-1-icon-img-4.png" alt="">
                <h3>Espresso Machine</h3>
                <p>Máy pha Espresso hiện đại, pha cà phê nhanh chóng, giữ trọn hương vị nguyên bản.</p>
            </div>
        </div>

        <div class="preview-info02">
            <div class="preview-info02-item">
                <img src="/assets/images/h-1-img-1.jpg" alt="">
                <h3>
                    <span>01</span>
                    Beautiful Place
                </h3>
                <p>Không gian thưởng thức tuyệt đẹp, bao phủ bởi sắc xanh tự nhiên và thiết kế ấm cúng. Ánh sáng chan
                    hòa cùng phong cách tinh tế tạo nên điểm dừng chân lý tưởng để thư giãn và tận hưởng hương vị cà phê
                    trọn vẹn.</p>
            </div>

            <div class="preview-info02-item">
                <img src="/assets/images/h-1-img-2.jpg" alt="">
                <h3>
                    <span>02</span>
                    Feel the Coffee
                </h3>
                <p>Mang đến không gian cà phê ấm cúng, lý tưởng để thư giãn và tận hưởng những tách cà phê chất lượng.
                    Với hạt cà phê hảo hạng và quy trình pha chế tỉ mỉ, mỗi ly cà phê đều mang đến hương vị đậm đà và
                    trải nghiệm tuyệt vời.</p>
            </div>

            <div class="preview-info02-item">
                <img src="/assets/images/h-1-img-3.jpg" alt="">
                <h3>
                    <span>03</span>
                    Full Taste
                </h3>
                <p>Hương vị trọn vẹn, kết tinh từ sự cân bằng hoàn hảo giữa đậm đà và tinh tế. Mỗi ngụm cà phê mang đến
                    sự hòa quyện của mùi hương quyến rũ, vị đắng nhẹ, và hậu vị ngọt ngào đầy ấn tượng.</p>
            </div>
        </div>

    </div>


    <div class="container-menu">
        <div class="container-menu-title container-title">
            <p id="sub-title">What Happens Here</p>
            <br>
            <span class="empty-space"></span>
            <div id="title">
                <h2>Favourite Coffee flavours</h2>
            </div>
            <span class="empty-space"></span>
            <br>
            <div style="width: 200px; height: 2px; background-color: #c7a17a;"></div>
        </div>

        <div class="menu">
            <div class="menus left-menu">
                <div class="menu-item" *ngFor="let item of loadMenuData | slice:0:5">
                    <div class="item">
                        <div class="img-item">
                            <a [routerLink]="['/home-menu']">
                                <img [src]="baseUrl + item.img" alt="" class="img-item">
                            </a>
                        </div>

                        <div class="title">
                            <h3>{{item.name}}</h3>
                            <div class="sub">
                                {{item.description}}
                            </div>
                            <div class="end-line"></div>
                        </div>

                        <div class="price">
                            <h3>{{item.price | currency}}</h3>
                        </div>

                    </div>
                </div>
            </div>

            <div class="menus right-menu">
                <div class="menu-item" *ngFor="let item of loadMenuData | slice:5:10">
                    <div class="item">
                        <div class="img-item">
                            <a [routerLink]="['/home-menu']">
                                <img [src]="baseUrl + item.img" alt="" class="img-item">
                            </a>
                        </div>

                        <div class="title">
                            <h3>{{item.name}}</h3>
                            <div class="sub">
                                {{item.description}}
                            </div>
                            <div class="end-line"></div>
                        </div>

                        <div class="price">
                            <h3>{{item.price | currency}}</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <a class="btn-view-menu btn-view" routerLink="home-menu">view menu</a>
    </div>

    <div class="container-shop">
        <div class="container-title">
            <p id="sub-title">What Happens Here</p>
            <br>
            <span class="empty-space"></span>
            <div id="title">
                <h2 style="color: #2f2d2b;">barista coffee shop</h2>
            </div>
            <span class="empty-space"></span>
            <br>
            <div style="width: 200px; height: 2px; background-color: #c7a17a;"></div>
        </div>

        <div class="shop">
            <div class="shop-item" *ngFor="let item of getMenuShopData  | slice:0:4">
                <img [src]="baseUrl + item.img" alt="">
                <a routerLink="shop">
                    <h3>{{item.name}}</h3>
                </a>
                <div class="price">{{item.price | currency}}</div>
            </div>

            
        </div>
        <a class="btn-view-shop btn-view" routerLink="shop">view shop</a>
    </div>

    <div class="container-wraper">

        <img class="wrapper-image image01" src="/assets/images/home-1-gallery-1.jpg" alt="">
        <img class="wrapper-image image02" src="/assets/images/home-1-gallery-2.jpg" alt="">
        <img class="wrapper-image image03" src="/assets/images/home-1-gallery-3.jpg" alt="">
        <img class="wrapper-image image04" src="/assets/images/home-1-gallery-4.jpg" alt="">
        <img class="wrapper-image image05" src="/assets/images/home-1-gallery-5.jpg" alt="">
        <img class="wrapper-image image06" src="/assets/images/home-1-gallery-6.jpg" alt="">
    </div>


    <div class="container-blog" id="blogs">
        <div class="container-title">
            <p id="sub-title">What Happens Here</p>
            <br>
            <span class="empty-space"></span>
            <div id="title">
                <h2></h2>
            </div>
            <span class="empty-space"></span>
            <br>
            <div style="width: 200px; height: 2px; background-color: #c7a17a;"></div>
        </div>

        <div class="blog">
            <div class="blog-item">
                <a routerLink="blog">
                    <img src="/assets/images/home-1-blog-f-img-1.jpg" alt="">
                </a>
                <a routerLink="blog">
                    <h3>Make it Simple</h3>
                </a>

                <div class="blog-info">
                    <div class="blog-by">
                        <span>by</span>
                        <a href="">admin</a><span>/</span>
                    </div>

                    <div class="blog-category">
                        <span>in</span>
                        <a href="">Coffee</a><span>/</span>
                    </div>
                    <div class="blog-date">
                        <span>on</span>
                        <a href="">22.12.2024</a>
                    </div>
                </div>
                <div class="blog-preview">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus sapiente facere
                        debitis
                        consequatur perspiciatis illo laboriosam nisi modi dignissimos nulla est vero incidunt
                        recusandae odit, suscipit unde vel officiis repellendus.</p>
                </div>

                <div class="read-more">
                    <a routerLink="blog">Read More</a>
                </div>
            </div>

            <div class="blog-item">
                <a routerLink="blog">
                    <img src="/assets/images/home-1-blog-f-img-2.jpg" alt="">
                </a>
                <a routerLink="blog">
                    <h3>Coffee Shop</h3>
                </a>

                <div class="blog-info">
                    <div class="blog-by">
                        <span>by</span>
                        <a href="">admin</a><span>/</span>
                    </div>

                    <div class="blog-category">
                        <span>in</span>
                        <a href="">Coffee</a><span>/</span>
                    </div>
                    <div class="blog-date">
                        <span>on</span>
                        <a href="">22.12.2024</a>
                    </div>
                </div>
                <div class="blog-preview">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus sapiente facere
                        debitis
                        consequatur perspiciatis illo laboriosam nisi modi dignissimos nulla est vero incidunt
                        recusandae odit, suscipit unde vel officiis repellendus.</p>
                </div>

                <div class="read-more">
                    <a routerLink="blog">Read More</a>
                </div>
            </div>

            <div class="blog-item">
                <a routerLink="blog">
                    <img src="/assets/images/home-1-blog-f-img-3.jpg" alt="">
                </a>
                <a routerLink="blog">
                    <h3>Coffee Bar</h3>
                </a>

                <div class="blog-info">
                    <div class="blog-by">
                        <span>by</span>
                        <a href="">admin</a><span>/</span>
                    </div>

                    <div class="blog-category">
                        <span>in</span>
                        <a href="">Coffee</a><span>/</span>
                    </div>
                    <div class="blog-date">
                        <span>on</span>
                        <a href="">22.12.2024</a>
                    </div>
                </div>
                <div class="blog-preview">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus sapiente facere
                        debitis
                        consequatur perspiciatis illo laboriosam nisi modi dignissimos nulla est vero incidunt
                        recusandae odit, suscipit unde vel officiis repellendus.</p>
                </div>

                <div class="read-more">
                    <a routerLink="blog">Read More</a>
                </div>
            </div>
        </div>

    </div>

</div>

<app-footer></app-footer>